
<template>
<div class="container">
    <div class="row justify-content-center mt-3">
        <div class="col-md-12 col-md-offset-1">
 
       <formComp v-if="createMode" 
        @save="add">
        </formComp>
        <button v-else class="btn btn-primary" v-on:click="create" >Crear</button>
         <table class="table table-hover mt-3">
                <tbody>
                <tr  class="table">
                    <!-- <th scope="col">#</th> -->
                    <th scope="col">Imagen</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Email</th>
                    <th scope="col">Cargo</th>
                    <th scope="col">Oficina</th>
                    <th scope="col">Empresa</th>
                    <th scope="col">Horas</th>
                    <th scope="col">Salario</th>
                    <th scope="col"></th>
                </tr>

                <rowComp v-for="person in persons" 
                :key="person._id"
                :person="person"
                @delete="deleteRow(index)"
                @update="updateRow(index,person)"
                >
                </rowComp> 
                </tbody>
            </table>
        
        </div>
       
    </div>
</div>
</template>

<script>
    import formComp from './formComp.vue';
    import rowComp from './rowComp.vue';
    import axios from 'axios';
    export default {
        components: { formComp,axios,rowComp},
        data(){
            return{
                createMode : false,
                persons:[]
            }
        },
        methods:{
            create(){
                this.createMode = !this.createMode;
            },
            add(person)
            {
                this.persons.push(person);
            },
            deleteRow(index){
                this.persons.splice(index,1);
            },
            updateRow(index,person){
                this.persons[index] = person;
            }

        },
        mounted() {
            axios.get('/persons').then((res)=>{

//                  var view = new Uint8Array(res.data[0].image.data);                  // access bytes through a view

//   // convert to blob and show
//   var blob = new Blob([view], {type: "image/jpeg"});
//   var url = URL.createObjectURL(blob);
//   var img = new Image;
//   img.src = url;
//   document.body.appendChild(img);

            this.persons = res.data;
            });
        }
    }
</script>

