<template>
<div class="panel panel-dafult">  
    <div class="panel-body">
        <form action="">

            
            <div class="form-group">
                <label for="name">Nombre</label>
                <input type="text" class="form-control" id="name" placeholder="Ingrese un nombre" v-model="name">
            </div>
            <div class="form-group">
                <label for="lastname">Apellido</label>
                <input type="text" class="form-control" id="lastname" placeholder="Ingrese un apellido" v-model="lastname">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Ingrese un email" v-model="email">
            </div>
            <div class="form-group">
                <label for="position">Cargo</label>
                <input type="text" class="form-control" id="position" placeholder="Ingrese un cargo" v-model="position">
            </div>
            <div class="form-group">
                <label for="comp">Oficina</label>
                <select v-model="city_value" class="form-control">
                    <option value="" disabled selected >Seleccione una opcion</option>
                    <option v-for="city in cities" :key="city.id" v-bind:value="city">
                        {{ city }}
                    </option>
                </select>
            </div>

            <div class="form-group">
                <label for="salary">Salario</label>
                <input type="text" class="form-control" id="salary" placeholder="Ingrese un salario" v-model="salary">
            </div>
            <div class="">
                <label for="hours">Horas semanales</label>
                <input type="text" class="form-control" id="hours" placeholder="Ingrese carga horaria" v-model="hours">
            </div>
            <div class="input-field col s12">
                <label for="comp">Empresa</label>
                    <select v-model="comp_value" class="form-control">
                    <option value="" disabled selected >Seleccione una opcion</option>
                    <option v-for="company in comp" :key="company.id" v-bind:value="company">
                        {{ company }}
                    </option>
                    </select>
            </div>

            <div class="form-group">
                <label for="image">Imagen</label>
                   <input type="file" class="form-control" @change="onFileSelected" id="image" placeholder="Seleccione una imagen" >
                </div>

            <button @click="save()" class="btn btn-success">
                Guardar
            </button>

        </form>
    </div>
</div>


</template>


<script>
 import axios from 'axios';
 import FormData from 'form-data'
    export default {
        components: {axios,FormData},
        //props:['companies'],
        data () {
        return {
            name:'',
            lastname:'',
            email:'',
            position:'',
            city_value: '',
            cities: ['Barcelona', 'Madrid', 'Valencia'],
            salary:0,
            hours:40,
            comp_value: '',
            comp: ['IBM', 'Attari', 'Google', 'Huawei', 'Lenovo'],
            selectedFile: null
        }
        },
        mounted() {
        },
        methods:{
            nameWithLang ({name}) {
                return `${name}`
            },
            onFileSelected(event){
                this.selectedFile = event.target.files[0];
            },
            save()
            {
              
                
                 //Creamos el formData
                var data = new  FormData();
                //Añadimos la imagen seleccionada
                data.append('name', this.name);
                data.append('lastname', this.lastname);
                data.append('email', this.email);
                data.append('position', this.position);
                data.append('city', this.city_value);
                data.append('salary', this.salary);
                data.append('hours', this.hours);
                data.append('companies', this.comp_value);
                data.append('image', this.selectedFile);
                data.append('_method', 'PUT');
                
                axios.post('/persons',data).then((resp)=>{
                        
                        const emplo = resp.data;
                        this.$emit('save',emplo);
                    });
            }
        }
    }
</script>



















    