<template>
    <tr>
        <!-- <th scope="row">{{person._id}}</th> -->
        <td>
             <!-- <p  >{{person.image.name}}</p> -->
              <img v-bind:data-src="person.image.data" alt="">
             <!-- <v-img :data-src="hexToBase64(person.image.data)" > </v-img> -->
            </td>
        <td>
            <input v-if="editMode" type="text" class="form-control" v-model="person.name">
            <p v-else >{{person.name}}</p>
        </td>
        <td>
            <input v-if="editMode" type="text" class="form-control" v-model="person.lastname">
            <p v-else >{{person.lastname}}</p>
            </td>
        <td>
            <input v-if="editMode" type="email" class="form-control" v-model="person.email">
            <p v-else >{{person.email}}</p>
            </td>
        <td>
            <input v-if="editMode" type="text" class="form-control" v-model="person.position">
            <p v-else >{{person.position}}</p>
            </td>
        <td>
            <select v-if="editMode"  v-model="person.city" class="form-control">
                    <option value="" disabled selected >Seleccione una opcion</option>
                    <option v-for="city in cities" :key="city.id" v-bind:value="city">
                        {{ city }}
                    </option>
                </select>

            <p v-else >{{person.city}}</p>
            </td>
        <td>
            <select v-if="editMode" v-model="person.companies" class="form-control">
            <option value="" disabled selected >Seleccione una opcion</option>
            <option v-for="company in comp" :key="company.id" v-bind:value="company">
                {{ company }}
            </option>
            </select>

            <p v-else >{{person.companies}}</p>
            </td>
        <td>
            <input v-if="editMode" type="text" class="form-control" v-model="person.hours">
            <p v-else >{{person.hours}}</p>
            </td>
        <td>
            <input v-if="editMode" type="text" class="form-control" v-model="person.salary">
            <p v-else >{{person.salary}}</p>
            </td>

        <td class="col-md-2"> 
            <button v-if="editMode" class="btn btn-success" v-on:click="update" >Guardar</button>
                <button  v-else  class="btn btn-warning" v-on:click="edit" >Editar</button>
                <button class="btn btn-danger" v-on:click="del">Eliminar</button>
        </td>
    </tr>

</template>

<script>
  import axios from 'axios'
    export default {
        components: {axios },
        props:['person'],
         data(){
            return{
              editMode : false,
              cities: ['Barcelona', 'Madrid', 'Valencia'],
              comp: ['IBM', 'Attari', 'Google', 'Huawei', 'Lenovo'],
            }
        },
        mounted() {
        },
        methods:{
            hexToBase64(str) {
                return btoa(String.fromCharCode.apply(null, str.replace(/\r|\n/g, "").replace(/([\da-fA-F]{2}) ?/g, "0x$1 ").replace(/ +$/, "").split(" ")));
            },
            del(){
                axios.delete(`/persons/${this.person._id}`)
                .then(()=>{
                    this.$emit('delete');                
                });
            },
            edit(){
                this.editMode = true;
            },
            update(){
                 const params ={
                    name :this.person.name,
                    lastname :this.person.lastname,
                    email :this.person.email,
                    position :this.person.position,
                    city :this.person.city,
                    companies :this.person.company,
                    hours :this.person.hours,
                    salary :this.person.salary
                };
                axios.put(`/persons/${this.person._id}`,params)
                .then((response)=>{
                    this.editMode = false;
                    const person = response.data
                    this.$emit('update',person);                
                });

            }
        }
    }
</script>

